{%extends 'base.html'%}
{% load static %}

{%block contents%}
<!-- service section -->
<section class="service_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2>
                A Peculiar Image Encryption Technique For Mobile Application
            </h2>
            <img alt="" src="{%static 'images/plug.png'%}">
        </div>

        <div class="service_container">
            <div class="box">
                <div class="img-box">
                    <img alt="" class="img1" src="{%static 'images/s1.png'%}">
                </div>
                <div class="detail-box">
                    <h5>
                        IoT Security-Cryptography and Steganography Techniques
                    </h5>
                    <p>
                        The elliptic Galois cryptography protocol is presented as a
                        means to encrypt data and prevent its unauthorized disclosure
                        or modification while in transit.
                    </p>
                </div>
            </div>
            <div class="box active">
                <div class="img-box">
                    <img alt="" class="img1" src="{%static 'images/s2.png'%}">
                </div>
                <div class="detail-box">
                    <h5>
                        A Novel image encryption technique
                    </h5>
                    <p>
                        Four levels of security are discussed. The first level -
                        Conformal Mapping is applied to the secret image to change
                        the image angles(shapes).
                    </p>
                </div>
            </div>
            <div class="box">
                <div class="img-box">
                    <img alt="" class="img1" src="{%static 'images/s3.png'%}">
                </div>
                <div class="detail-box">
                    <h5>
                        Securing IoT Data Using Steganography
                    </h5>
                    <p>
                        After completing this
                        procedure, a stenography signal is produced and transmitied
                        via the Internet of Things. Signal-to-noise (SNR) ratios are
                        improved with the use of low-frequency components of audio
                        cover signals like speech and music as opposed to high frequency
                        components.
                    </p>
                </div>
            </div>
            <div class="box ">
                <div class="img-box">
                    <img alt="" class="img1" src="{%static 'images/s4.png'%}">
                </div>
                <div class="detail-box">
                    <h5>
                        Data security - Digital Signatures
                    </h5>
                    <p>
                        digital signature is a kind of signature, that is been used to
                        sign in documents digitally. This method is used in this
                        paper.
                    </p>
                </div>
            </div>
            <div class="box">
                <div class="img-box">
                    <img alt="" class="img1" src="{%static 'images/s5.png'%}">
                </div>
                <div class="detail-box">
                    <h5>
                        PSNR
                    </h5>
                    <p>
                        Peak signal-to-noise ratio (PSNR) is terminology that helps
                        determine the how good quality between a compressed image
                        and an original image.
                    </p>
                </div>
            </div>
        </div>
        <div class="btn-box">
            <a href="https://ieeexplore.ieee.org/document/10128518" target="_blank">
                Read More
            </a>
        </div>
    </div>
</section>
<!-- end service section -->

{%endblock%}
